 b {
		color: black;
 }

 .bg-red {
	 background-color: red;
	 height: 100px;
 }

 .bg-orange {
	 background-color: orange;
	 height: 100px;
 }

 .bg-yellow {
	 background-color: yellow;
	 height: 100px;
 }

 .bg-blue {
	 background-color: blue;
	 height: 100px;
 }

 .bg-indigo {
	 background-color: indigo;
	 height: 100px;
 }

 .bg-violet {
	 background-color: violet;
	 height: 100px;
 }