 .bg-purple {
	 background-color: #880096ff;
 }
 
.heading {
	text-align: center;
}

.full-height {
	height: 100%;
}

.rounded {
	border-radius: 30px !important;
}

.padded {
	padding: 20px;
}

.bottom-margin-heavy {
	margin-bottom: 100px;
}
